.commandOptions {
    position: absolute;
    bottom: 0px;
}

.command div {
    background-color: rgba(65, 64, 64, 0.5);
}

.commandCol{
    padding-left: 45px;
}

.command p {
    line-height: 30px;
    margin: 0;
    color: lavenderblush;
    padding: 5px 0;
}

.command div:hover{
    background-color: rgba(65, 64, 64, 0.7);
}

.chatStart {
    color: #63de00;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 40px;
}

.ircTextInput {
    margin: 0;
    /* padding-top: 2px; */
    border-top: 4px solid grey;
}

input#chatInput {
    background-color: rgba(0, 0, 0, 0.1);
    color: #63de00;
    border: none;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 18px;
    width: 660px;
}

input#chatInput:focus {
    outline: none;
}

#runButton{
    margin-top: -1px;
    width: 142px;
    height: 44px;
}

.ircWindow {
    margin: 0;
    height: 600px;
    width: 850px;
    background-color: #000;
    border-radius: 5px;
    border: 3px solid #ffffff;
}

.ircHeader {
    background-color: #fff;
    margin: 0%;
    padding: 5px 0 8px 0;
}

.ircMainContent {
    height: 510px;
    margin: 0%;
}

.mainContentDiv {
    height: 100%;
    overflow-y: auto;
}

.mainContentDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.mainContentDiv::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.mainContentDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}