.virusWindow{
    height: 300px;
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 3px solid #43dde6;
}

.topbarVirusWindow{
    height: 30px;
    background-color: #43dde6;
}