.folderOrFile{
    padding: 15px;
}

.folderOrFile:hover {
    background-color: rgba(255, 255, 255, 0.205);
}

.folderOrFileWindow:hover{
    background-color: rgba(255, 255, 255, 0.794);
}

.folderOrFile div{
    cursor: default;
}